  <h1><%=@campingtrip.park_name%></h1>
  <h4>Location:<%=@campingtrip.state%></h1>
  <h4>Site Number:<%=@campingtrip.site_number%></h1>
  <h4>Firepit:<%=@campingtrip.firepit%></h1>
  <h4>Waterfront:<%=@campingtrip.waterfront%></h1>
  <h4>Shaded:<%=@campingtrip.shaded%></h1>
  <h4>Dog Friendly:<%=@campingtrip.dog_friendly%></h1>
  <h4>Cabins:<%=@campingtrip.cabins%></h1>
  <h4>Toilet Type:<%=@campingtrip.toilet_type%></h1>
  <h4>Other Good Sites:<%=@campingtrip.other_good_sites%></h1>
  <h4>Waterpump:<%=@campingtrip.waterpump%></h1>
  <h4>Water Taste:<%=@campingtrip.water_taste%></h1>
  <h4>Added notes:<%=@campingtrip.added_notes%></h1>

    <a href="/campingtrip/<%=@campingtrip.id%>/edit"><button>Edit Campground</button></a>
    <br>
    <form action="/campingtrip/<%=@campingtrip.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Site">
    </form>
